@import "../../mixins";
@import "../../variables";

.promo {
  display: flex;
  @include media-max-width-l {
    display: block;
  }
}

.leftSide {
  margin-top: $margin-xl;
  @include media-max-width-l {
    width: 100%;
  }
}

.rightSide {
  margin-top: $margin-xl;
  max-width: -webkit-fill-available;
}

.promoText {
  font-size: $font-xl;
  line-height: normal;
  @include media-max-width-l {
    font-size: $font-l;
  }
}

.promoBtn {
  width: 167px;
  height: 54px;
  margin-top: $margin-m;
  padding: 16px 28px;
  font-size: $font-l;
  color: #fff;
  border-radius: $border-radius;
}
