@import "../../mixins";
@import "../../variables";

.navigation {
  display: flex;
  justify-content: space-between;
  @include media-max-width-m {
    height: 70px;
  }
}

.nav {
  list-style-type: none;
  display: flex;
  margin: 0%;
  @include media-max-width-m {
    display: none;
  }
}

.navItem {
  margin: $margin-xl $margin-m;
  padding-top: $padding-xs;
}

.btn {
  width: 100px;
  height: 32px;
  padding: $padding-xs $padding-s;
  font-size: $font-s;
  color: #fff;
  border-radius: $border-radius;
}

.burger {
  display: none;
  @include media-max-width-m {
    display: inline;
    position: absolute;
    right: 34px;
    top: 38px;
  }
}

@include media-max-width-m {
  .logo {
    margin-top: $margin-xl;
  }
}
