.navigation {
  display: flex;
  justify-content: space-between;
}

.nav {
  list-style-type: none;
  display: flex;
  margin: 0%;
}

.navItem {
  margin: 20px 12px;
  padding-top: 6px;
}

.btn {
  width: 100px;
  height: 32px;
  margin-top: 21px;
  padding: 6px 16px;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 3px;
}

.burger {
  display: none;
}

@media (max-width: 860px) {
  .logo {
    margin-top: 20px;
  }

  .navigation {
    height: 70px;
  }

  .nav {
    display: none;
  }

  .burger {
    display: inline;
    position: absolute;
    right: 34px;
    top: 38px;
  }
}
