@import "../../variables";

.topLeakedPasswords {
  margin: $margin-xl 0 $margin-s;
}

table {
  tr {
    counter-increment: rowNumber;
    td {
      &:first-child {
        &::before {
          content: counter(rowNumber) ".";
          min-width: 1rem;
          margin-right: $margin-xl;
          font-size: $font-l;
          font-family: "Gorditas light", sans-serif;
        }
      }
    }
  }
}

th {
  font-size: $font-l;
  &:nth-child(1) {
    text-align: start;
  }
  &:nth-child(2) {
    text-align: end;
  }
}

td {
  padding: $padding-m;
  &:nth-child(1) {
    text-align: start;
  }
  &:nth-child(2) {
    text-align: end;
  }
}

.tdRight {
  font-family: "Gorditas light", sans-serif;
}

.passwordsList {
  margin-top: $margin-m;
}

.borderBottom {
  border-bottom: 1px solid #e8e8e9;
}

select {
  height: 20px;
  width: 130px;
  text-align: left;
  font-family: "Gorditas light", sans-serif;
}
