.topLeakedPasswords {
  margin: 108px 0 24px;
}

table {
  tr {
    counter-increment: rowNumber;
    td {
      &:first-child {
        &::before {
          content: counter(rowNumber) ".";
          min-width: 1rem;
          margin-right: 2rem;
          font-size: 1.1rem;
          font-family: "Gorditas light", sans-serif;
        }
      }
    }
  }
}

th {
  font-size: 1.2rem;
  &:nth-child(1) {
    text-align: start;
  }
  &:nth-child(2) {
    text-align: end;
  }
}

td {
  padding: 14px;
  &:nth-child(1) {
    text-align: start;
  }
  &:nth-child(2) {
    text-align: end;
  }
}

.tdRight {
  font-family: "Gorditas light", sans-serif;
}

.passwordsList {
  margin-top: 40px;
}

.borderBottom {
  border-bottom: 1px solid #e8e8e9;
}

select {
  height: 20px;
  width: 130px;
  text-align: left;
  font-family: "Gorditas light", sans-serif;
}
