.topLeakedPasswords {
  margin: 108px 0 24px;
}
table tr {
  counter-increment: rowNumber;
}
table tr td:first-child::before {
  content: counter(rowNumber) ".";
  min-width: 1rem;
  margin-right: 2rem;
  font-size: 1.1rem;
  font-family: "Gorditas light", sans-serif;
}
th,
td {
  padding: 14px;
}
th:nth-child(1),
td:nth-child(1) {
  text-align: start;
}
th:nth-child(2),
td:nth-child(2) {
  text-align: end;
}
th {
  font-size: 1.2rem;
}
.tdRight {
  font-family: "Gorditas light", sans-serif;
}
.passwordsList {
  margin-top: 40px;
}
.borderBottom {
  border-bottom: 1px solid #e8e8e9;
}
.dropdown {
  border: 1px solid #b9babd;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 6px;
}
select {
  width: 140px;
  text-align: left;
  font-family: "Gorditas light", sans-serif;
}
@media (max-width: 600px) {
  .dropdown {
    padding: 6px 20px;
  }
}
