@import "../../mixins";
@import "../../variables";

.footer {
  margin: $margin-xl 0;
  display: flex;
  justify-content: space-around;
  @include media-max-width-m {
    margin: $margin-m 0;
  }
}

.copyright {
  font-size: $font-xs;
  margin-top: auto;
  margin-bottom: $margin-s;
}

.footerItem {
  margin-bottom: $margin-s;
  font-size: $font-s;
}
