$font-xl: 3rem;
$font-l: 1.2rem;
$font-m: 14px;
$font-s: 0.8rem;
$font-xs: 0.6rem;

$padding-xl: 4rem;
$padding-l: 1rem;
$padding-m: 0.8rem;
$padding-s: 0.6rem;
$padding-xs: 0.4rem;

$margin-xl: 2rem;
$margin-l: 1rem;
$margin-m: 0.8rem;
$margin-s: 0.6rem;
$margin-xs: 0.4rem;

$border-radius: 3px;
