@import "./mixins";
@import "./variables";
@import "./extensions";

@font-face {
  font-family: "Gorditas medium";
  src: url("./fonts/gordita-medium.otf");
}
@font-face {
  font-family: "Gorditas light";
  src: url("./fonts/gordita-light.otf");
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gorditas medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $font-m;
  line-height: 24px;
  background-color: #fff;
}

ul {
  padding-left: 0;
  list-style: none;
}

.container {
  padding: 0 $padding-l * 20;
  @include media-max-width-xl {
    padding: 0 $padding-l * 12;
  }
  @include media-max-width-l {
    padding: 0 $padding-l * 4;
  }
  @include media-max-width-s {
    padding: 0 $padding-l;
  }
}

.mainSection {
  background: linear-gradient(180deg, #edf8f7 0%, #ffffff 99.84%);
}

.faqSection {
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: #fff;
}

.primaryColor {
  color: #43a5a1;
}

.primaryColorBackground {
  background-color: #43a5a1;
}

.pointer {
  cursor: pointer;
}

.disabledColor {
  background-color: #b5b5b5;
}

.disabledColorText {
  /* Footer */
  color: #b5b5b5;
}

.centerText {
  /* FAQ */
  text-align: center;
}

.centerContent {
  /* FAQ */
  display: flex;
  justify-content: center;
}

.btn {
  @extend .button-style;
  margin-top: $margin-m;
}

.widthFillAvailable {
  width: -webkit-fill-available;
}

.uppercasing {
  text-transform: uppercase;
}
